@font-face { 
    font-family: 'OpenSans_Bold'; 
    src: url('../fonts/OpenSans-Boldd41d.html?#iefix') format('embedded-opentype'), 
    url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.html') 
    format('truetype'), url('../fonts/OpenSans-Bold-2.html#OpenSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}
.header-giaothong {
    padding: 15px 0;
    height: 110px;
    background: url(../images/bg-header.jpg);
}
        .logo_pc {
    margin: 5px 0!important;
}
.logo_pc img {
    float: left;
        width: 115px;
        margin-right: 10px;
}
.txt-logo {
    color: #fff;
    font-size: 20px;
    font-family: 'OpenSans_Bold';
    overflow: hidden;
    text-transform: uppercase;
    display: block;
}
#header h3 {
    font-size: 30px !important;
    font-weight: bold;
    /* letter-spacing: 3px; */
    margin-top: 0px;
}
.txt-logo h2 {
    line-height: 25px;
    font-size: 24px;
    margin-top: 7px;
    letter-spacing: 2px;
}
.menu-main {
    margin-top: 30px;
}
.menu-main ul li {
    display: inline-block;
}
.menu-main ul li a {
    color: #fff;
    font-size: 18px;
    display: block;
    padding: 5px 10px;
}