
.stickytooltip{
display:none;
position:absolute;
display:none;
border:1px solid #fff; /*Border around tooltip*/
z-index:3000;
}


.stickytooltip .stickystatus{ /*Style for footer bar within tooltip*/
background:black;
color:white;
padding-top:1px;
text-align:center;
font:bold 11px Arial;
}
