﻿
body { background: #119ECC; color: white; font-family: 'Open Sans Condensed',sans-serif; height: 100%; margin: 0; overflow: hidden; position: relative; }
.l-header { background: url("img/bg_header_repeat2.jpg") repeat-x scroll center bottom rgba(0, 0, 0, 0); margin: 0; padding: 0; position: relative; text-align: left; vertical-align: text-top; width: 100%; z-index: 3; }
.l-header > .header-image > img { display: block; height: auto; max-width: 100%; text-align: left; }
.header-image { background: url("img/star.png") no-repeat scroll right top rgba(0, 0, 0, 0); left: 0; margin: auto; position: relative; right: 0; width: 99%; }
.l-footer { background: none repeat scroll 0 0 rgba(5, 54, 182, 0.9); bottom: 0; position: fixed; width: 100%; z-index: 9; }
.l-footer .footer-address { background: url("img/logo.png") no-repeat scroll 30px center rgba(0, 0, 0, 0); font-size: 13px; padding: 18px 10px 14px 135px; }
.l-footer .social { position: absolute; top: 30%; }
.l-footer .social img { max-height: 40px; width: auto; }
.l-footer .social.appstore { right: 362px; }
.l-footer .social.gplay { right: 233px; }
.l-footer .footer-info { font-size: 15px; position: absolute; right: 0; top: 40%; }
.l-footer .footer-info .day_left { font-size: 30px; font-weight: 700; padding: 0 5px; }
.footer-content { left: 0; margin: auto; position: relative; right: 0; width: 99%; }
.l-footer .footer-info img { padding-left: 10px; vertical-align: middle; }
.l-banner { height: 100%; overflow: hidden; position: relative; }
.l-banner .banner { height: 100%; /*opacity: 0;
    transition: opacity 1s ease-in-out 0s;*/ }
.l-banner .banner.opaque { opacity: 1; }
.l-banner .banner-image { background: url("img/background1.jpg") no-repeat scroll center bottom rgba(0, 0, 0, 0); position: relative; z-index: 4; }
.l-banner .banner.after { height: 100%; position: absolute; top: 0; width: 100%; }
.l-banner .banner-image2 { background: url("images/background2.jpg") no-repeat scroll center bottom rgba(0, 0, 0, 0); z-index: 1; }
.l-banner .banner-image3 { background: url("images/background3.jpg") no-repeat scroll center bottom rgba(0, 0, 0, 0); z-index: 2; }
.l-banner .banner-image4 { background: url("images/background4.jpg") no-repeat scroll center bottom rgba(0, 0, 0, 0); z-index: 3; }
.l-banner .banner-overlay { height: 100%; position: absolute; top: 0; width: 100%; z-index: 1; }

.banner-open { position: absolute; text-align: center; top: 135px; z-index: 6; background: url("img/banner_open.png") no-repeat; width: 135px; height: 379px; }

.banner-open-time { color: yellow; font-size: 25px; height: 68px; font-family: 'Times New Roman'; font-weight: bold; }

.banner-open-content, .banner-close-content { color: white; font-size: 17px; margin-top: 10px; padding: 5px; }

.banner-close { position: absolute; text-align: center; top: 135px; z-index: 6; background: url("img/banner_close.png") no-repeat; width: 135px; height: 379px; }

.banner-close-time { color: black; font-size: 25px; height: 68px; font-family: 'Times New Roman'; font-weight: bold; }
.banner-open-time hr { margin: 0px 20px; border: solid 1px yellow; }
.banner-close-time hr { margin: 0px 20px; border: solid 1px black; }


.banner-message1, .banner-message { position: absolute; text-align: center; top: 60px; z-index: 6; }
.banner-message { left: 5px; }
.banner-message1 .message-body a, .banner-message .message-body a { bottom: 0; display: block; height: 24%; position: absolute; width: 100%; }
.banner-message .message-body, .banner-message1 .message-body { height: 380px; width: 166px; }
.banner-message .message-body { background: url("images/banner_message.png") no-repeat scroll 30px center rgba(0, 0, 0, 0); }
.banner-message1 { left: 181px; }
.banner-message1 .message-body { background: url("images/banner3.png") no-repeat scroll 30px center rgba(0, 0, 0, 0); }

.box-body-cnt { height: 346px; overflow-y: scroll; }

.help-block { display: none !important; }

#frmCreate .alert { margin-left: 0px; }

.l-header .more { position: absolute; width: 300px; background: #FFFEFB; right: 70px; top: 4px; border-radius: 3px; border-top: solid 3px #A6DDE8; border-bottom: solid 3px #A6DDE8; box-shadow: 0px 0px 2px #333; }
.l-header .more .title { color: #333; line-height: 32px; padding-left: 10px; cursor: pointer; font-size: 12px; color: #DA251C; }
.l-header .more .glyphicon { float: right; margin-right: 10px; color: #aaa; margin-top: 11px; font-size: 10px; }
.l-header .submore { display: none; border-top: solid 1px #A6DDE8; max-height: 400px; width: 300px; overflow-y: scroll; }
.l-header .submore a { display: block; padding-left: 10px; line-height: 22px; color: #333; font-size: 12px; }
.l-header .submore a:hover .fa { color: #da251c; }
.l-header .submore a .fa { float: left; font-size: 5px; margin-right: 5px; margin-top: 8px; }
.l-header .submore a span { color: #da251c; font-size: 10px; }

.search-wrapper { float: right; padding:5px 10px; width:100%;text-align:right}
.search-wrapper input {display:inline}

.morewrapper { position: relative; z-index: 10; }
.morewrapper .moretitle { background: #FFF600; height: 30px; line-height: 30px; position: absolute; right: 10px; bottom: -30px; color: #0739B6; width: 250px; text-align: center; border-radius: 0px 0px 10px 10px; cursor: pointer; font-weight: bold; }
.morewrapper .moreclose { background: #FFF600; height: 30px; line-height: 30px; position: absolute; right: 10px; bottom: -30px; color: #0739B6; width: 250px; text-align: center; border-radius: 0px 0px 10px 10px; cursor: pointer; font-weight: bold; display: none; }
.morewrapper .morecnt { background: #fff; height: 0px; display: none; }
.morewrapper .cnt { display: none; }

@media all and (max-width: 1000px) {
    header {background-position:left center !important}
    .header-image { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); padding-right: 0; }
    .header-message { right: 0; }
}

@media all and (max-width: 880px) {
    header {background-position:left center !important}
    .l-footer .social { top: 50%; }
    .l-footer .social.gplay { right: 0; }
    .l-footer .social.appstore { right: 130px; }
    .l-footer .footer-info { top: 10%; }

    .timeline .fa-comments {display:none}
    .timeline::before {background:none !important;border:none !important;border-radius:0px !important}
    .timeline > li > .timeline-item {padding:0px !important;margin:0px !important}
    .cnt-wrp {padding-right:0px}
}

@media all and (max-width: 680px) {
    header {background-position:left center !important}
    .newhot .newtitle {display:none}
    .newhot .newdes{width:70% !important}

    .header-message { display: none; }
    .header-image { width: 100%; }
    .l-footer .footer-info { padding-left: 19%; }
    .l-footer .footer-address { background-position: 3.5% center; background-size: 15% auto; padding-left: 19%; }
}

@media all and (max-width: 600px) {
    .l-footer .footer-address { padding-bottom: 5px; }
    .l-footer .footer-address div { font-size: 10px; }
    .l-footer .footer-info { font-size: 12px; left: 0; padding-bottom: 5px; padding-left: 120px; position: relative; }
    .l-footer .footer-info img { height: 15px; width: auto; }
    .banner-message1, .banner-message { top: 10px; }
    .l-footer .social { top: 15%; }
}

@media all and (max-width: 550px) {
    .l-footer .footer-info { padding-left: 20%; }
    .l-footer .footer-address { background-position: 3.5% center; background-size: 15% auto; padding-left: 20%; }
    .l-footer .social img { max-height: 35px; }
    .l-footer .social.appstore { right: 120px; }
}

@media all and (max-width: 500px) {
    .l-footer .social img { max-height: 30px; }
    .l-footer .footer-address div { font-size: 8px; }
    .l-footer .social.appstore { bottom: 10%; right: 0; top: auto; }
}

@media all and (max-height: 900px) {
    .banner-message, .banner-message1 { top: 10px; }
}

/*QuyetNH*/
#Home { background: #1F6FAA url(img/bg.jpg) no-repeat bottom right}
#Home .container { max-width: 1060px; }
#Home.homemb{background: #119ECC}

.mtop-wp {background:#fff}

#layout header {}

header {background:#2584CC}
header .search { display: none; position: absolute; right: 15px; top: 55px; border-radius: 3px; height: 35px; width: 340px; background: url(img/searchbg.png); }
header .text { background-color: transparent; width: 290px; padding-left: 15px; color: #fff; line-height: 35px; height: 35px; border: none; outline: none; }
header button { color: #fff; background-color: transparent; border: none; font-size: 20px; width: 45px; }

#Home .cnt-wrapper { margin-top: 30px; margin-bottom: 50px; }

#Home .newhot { position: relative; }
#Home .newhot img { border: solid 1px #9d9d9d; }
#Home .newhot .info { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: url(img/infobg.png) repeat-y left center; }
#Home .newhot .date { height: 38px; line-height: 38px; background: #d80000; padding-left: 50px; color: #fff; font-size: 26px; font-weight: bold; width: 180px; position: relative; margin-top: 47px; }
#Home .newhot .date span { position: absolute; top: 0px; right: -53px; width: 53px; height: 38px; background: url(img/subbdate.png) no-repeat; }
#Home .newhot .newtitle { padding-left: 50px; width: 245px; color: #fff600; text-transform: uppercase; font-size: 24px; font-weight: bold; line-height: 25px; margin-top: 10px; }
#Home .newhot .newdes { padding-left: 50px; width: 400px; font-size: 15px; font-weight: bold; margin-top: 15px; max-height: 88px; overflow: hidden; }
#Home .newhot .newbtn { display: block; margin-top: 15px; margin-left: 50px; width: 142px; padding-left: 62px; line-height: 62px; font-size: 11px; font-weight: bold; height: 79px; background: url(img/hotbtn.png) no-repeat; color: #fff; }

#Home .newhotmb {color:#333;font-size:16px;background:#fff;padding-bottom:10px}
#Home .newhotmb img {}
#Home .newhotmb .info { }
#Home .newhotmb .date {color:#ababab;font-size:14px;padding-left:10px;margin:5px 0px}
#Home .newhotmb .date span {  }
#Home .newhotmb .newtitle {color:#ff0000;text-transform:uppercase;padding:0px 10px;font-weight:bold;margin:5px 0px}
#Home .newhotmb .newdes { margin-bottom:10px;padding:0px 10px;text-align:justify}

#Home .newmore { height: 520px; overflow: auto; padding-right:5px}
#Home .newmore .item { margin: 2px 0px 7px 10px; position: relative; display: block; }
#Home .newmore .item .imggr { border-radius: 3px; position:relative;overflow:hidden;width:280px;height:200px;z-index:0}
#Home .newmore .item .date { position: absolute; top: 15px; left: -10px; height: 29px; line-height: 26px; color: #fff; font-size: 18px; padding-left: 20px; background: url(img/mdate.png) repeat-x; }
#Home .newmore .item .date span { width: 45px; height: 29px; background: url(img/submdate.png) no-repeat; top: 0px; right: -45px; position: absolute; }
#Home .newmore .item .info { background: url(img/newmoreinfo.png) repeat-x center bottom; position: absolute; bottom: 0px; color: #fff; font-size: 11px; width: 100%; left: 0px; border-radius: 0px 0px 3px 3px; padding: 10px 20px; }
#Home .newmore .item .title { font-weight: bold; height: 14px; overflow: hidden; }
#Home .newmore .item .des { height: 30px; overflow: hidden; }

#Home .newmoremb { }
#Home .newmoremb .item { margin: 2px 0px 7px 10px; position: relative; display: block; }
#Home .newmoremb .item .imggr { border-radius: 3px; position:relative;overflow:hidden;width:200px;height:200px;z-index:0}
#Home .newmoremb .item .date { position: absolute; top: 15px; left: -10px; height: 29px; line-height: 26px; color: #fff; font-size: 18px; padding-left: 20px; background: url(img/mdate.png) repeat-x; }
#Home .newmoremb .item .date span { width: 45px; height: 29px; background: url(img/submdate.png) no-repeat; top: 0px; right: -45px; position: absolute; }
#Home .newmoremb .item .info { background: url(img/newmoreinfo.png) repeat-x center bottom; position: absolute; bottom: 0px; color: #fff; font-size: 11px; width: 100%; left: 0px; border-radius: 0px 0px 3px 3px; padding: 10px 20px; }
#Home .newmoremb .item .title { font-weight: bold; height: 14px; overflow: hidden; }
#Home .newmoremb .item .des { height: 30px; overflow: hidden; }

.margin-bottom-30 { margin-bottom: 30px; }

#Home .nqwrapper { border: solid 1px #999; position: relative; padding-top: 45px; padding-bottom: 13px; background:#fff}
#Home .nqwrapper .title { color: #fff; font-size: 22px; text-transform: uppercase; padding-left: 33px; background: #d80001; height: 38px; line-height: 38px; position: absolute; top: -17px; left: -1px; }
#Home .nqwrapper .title span { width: 84px; height: 38px; background: url(img/subtitle.png) no-repeat; position: absolute; top: 0px; right: -84px; }
#Home .newquestion { height: 308px; overflow: auto; }
#Home .newquestion.mb { height: auto; overflow: auto }
#Home .newquestion.mb .item { display: block; position: relative; margin: 10px 10px 10px 30px; border: solid 1px #c9c9c9; border-radius: 3px; padding: 5px 15px 5px 40px; color: #4f4f4f; font: 16px/22px arial !important; }
#Home .newquestion .item { display: block; position: relative; margin: 10px 0px 10px 20px; border: solid 1px #c9c9c9; border-radius: 3px; padding: 5px 5px 5px 20px; color: #4f4f4f; font-size: 12px; }
#Home .newquestion .item:hover .stt { background: #2584CC; }
#Home .newquestion .item b { color: #0f1367; }
#Home .newquestion .stt { position: absolute; top: 50%; margin-top: -18px; left: -18px; height: 36px; width: 36px; color: #fff; border-radius: 36px; text-align: center; line-height: 36px; font-size: 22px; background: #d80000; }
#Home .newquestion .question { line-height: 18px; text-align: justify; margin-bottom: 10px }
#Home .newquestion .answer { line-height: 18px; text-align: justify; }

#Home .partnerimg { background: url(img/imgbg.png); padding: 5px; text-align:center;margin-top:20px;max-height:82px;overflow:hidden }
#Home .partnerimg img { margin: 5px 1%; width: 20%; display: inline-block }

#Home .partnerimgmb { background: url(img/imgbg.png); text-align:center}
#Home .partnerimgmb img { margin: 1%; width: 20%; display: inline-block; }

#Home footer { background: #094085; min-height: 90px; font-size: 12px; }
#Home footer .footerinfo { padding: 15px 0px 15px 107px; color: #fff; line-height: 20px; background: url(img/hq.png) no-repeat left center; }
#Home footer .footerinfo a { color: #fff; }
#Home footer .title { display: block; margin-top: 10px; margin-bottom: 5px; }

#Home .datepicker { color: #333; }
#Home .datetimepicker .input-group-addon { padding: 0px; margin: 0px; border: none; width: 0px; }
#Home .datetimepicker .input-group-addon > i { display: none; }

#btnDatCauHoi {background:#D80000}
#btnDatCauHoi:hover {background:#D80000}

.link{color:#fff}
.link:hover{text-decoration:underline;color:#fff}

.p20{padding:0px 20px}

#calendar h2{font-size:14px;text-transform:uppercase;line-height:30px}
#calendar .fc-basic-view .fc-body .fc-row{min-height:29px}
#calendar {color:#000}
#calendar .fc-bgevent{background:#ff0000}

#lichModal {color:#333}
/*QuyetNH end*/
