.home-container {
  max-width: 400px;
}
.imp-tooltip {
  -webkit-box-shadow: 0px 0px 7px 0px rgba(33,33,33,0.6);
  -moz-box-shadow: 0px 0px 7px 0px rgba(33,33,33,0.6);
  box-shadow: 0px 0px 7px 0px rgba(33,33,33,0.6);
  color: #000 !important;

}
.imp-tooltip p {
  margin-bottom: 7px;

}
.non-sell {
  color: #2e7d32;
}
.selled {
  color: #d32f2f;
}
.price {
  color: #1976d2;
}
#wcp-editor-right {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(33,33,33,0.6);
  -moz-box-shadow: 0px 0px 7px 0px rgba(33,33,33,0.6);
  box-shadow: 0px 0px 7px 0px rgba(33,33,33,0.6);
  border: 0;
}
#image-map-pro-container {
  width: calc(100% - 300px);
}
#wcp-editor-right.wcp-editor-right-with-title-buttons {
  padding-top: 64px;
}
