.mail_list_column {
    padding-top: 15px;
    border: 1px solid #DBDBDB;
}
.scroll-listbox {
    height: 938px;
    overflow-y: scroll;
}
.scroll-listbox::-webkit-scrollbar {
        width: 1px;
        background-color: white;
        color: gray;
    }
    /*.scroll-listbox::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }*/

    .scroll-listbox::-webkit-scrollbar-thumb {
        background-color: darkgrey;
    }
        #compose {
    margin-top: 5px;
    margin-bottom: 5px;
}
.mail_list_column H3 {
    line-height: unset !important;
}
.mail_list_column, .mail_view {
    border: 1px solid #DBDBDB
}
.compose-close {
    float:right;
}
.mail_list {
    width: 100%;
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 2px;
    display: inline-block
}

    .mail_list .left {
        width: 5%;
        float: left;
        margin-right: 3%
    }

    .mail_list .right {
        width: 90%;
        float: left
    }

    .mail_list h3 {
        font-size: 15px !important;
        font-weight: 700;
        margin: 0 0 6px
    }

        .mail_list h3 small {
            float: right;
            color: #ADABAB;
            font-size: 11px;
            line-height: 20px
        }

    .mail_list .badge {
        padding: 3px 6px;
        font-size: 8px;
        background: #BAB7B7
    }

@media (max-width:767px) {
    .mail_list {
        margin-bottom: 5px;
        display: inline-block
    }
}

.mail_heading h4 {
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-top: 20px
}

.attachment {
    margin-top: 30px
}

    .attachment ul {
        width: 100%;
        list-style: none;
        padding-left: 0;
        display: inline-block;
        margin-bottom: 30px
    }

        .attachment ul li {
            float: left;
            width: 150px;
            margin-right: 10px;
            margin-bottom: 10px
        }

            .attachment ul li img {
                height: 150px;
                border: 1px solid #ddd;
                padding: 5px;
                margin-bottom: 10px
            }

            .attachment ul li span {
                float: right
            }

    .attachment .file-name {
        float: left
    }

    .attachment .links {
        width: 100%;
        display: inline-block
    }

.compose {
    padding: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    background: #fff;
    border: 1px solid #D9DEE4;
    border-right: 0;
    border-bottom: 0;
    border-top-left-radius: 5px;
    z-index: 9999;
    display: none
}

    .compose .compose-header {
        padding: 5px;
        background: #169F85;
        color: #fff;
        border-top-left-radius: 5px
    }

        .compose .compose-header .close {
            text-shadow: 0 1px 0 #fff;
            line-height: .8
        }

    .compose .compose-body .editor.btn-toolbar {
        margin: 0
    }

    .compose .compose-body .editor-wrapper {
        height: 100%;
        min-height: 50px;
        max-height: 180px;
        border-radius: 0;
        border-left: none;
        border-right: none;
        overflow: auto
    }

    .compose .compose-footer {
        padding: 10px
    }

.editor.btn-toolbar {
    zoom: 1;
    background: #F7F7F7;
    margin: 5px 2px;
    padding: 3px 0;
    border: 1px solid #EFEFEF
}

.input-group {
    margin-bottom: 10px
}

.ln_solid {
    border-top: 1px solid #e5e5e5;
    color: #fff;
    background-color: #fff;
    height: 1px;
    margin: 20px 0
}

span.section {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5
}

/*Begin chuyển div động*/
.flip-custom {
    perspective: 1000px;
}

.flip-custom.hover .flipper {
    transform: scale(-1);
}

.flipper {
    transition: 2s;
    transform-style: preserve-3d;
    position: relative;
}

.inbox-body-1,
.inbox-body-2 {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.inbox-body-1 {
    z-index: 2;
    transform: rotateY(0deg);
}

.inbox-body-2 {
    transform: rotateY(180deg);
}
/*End chuyển div động*/

/*Begin tác nghiệp*/
.tranform-nhiemvu,
.tranform-vanban,
.tranform-thu {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(-1);
}
.tranform-lich {
    /*z-index: 2;*/
    transform: scale(0);
}
/*End tác nghiệp*/